html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
/* variables */
/* variables */
/* Mix ins */
body {
  line-height: 1;
  padding: 1%;
  background: white;
  margin: 5% 10%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Squada One', cursive;
  color: black;
}
p,
li,
th,
td,
tr {
  font-family: 'DM Serif Display', serif;
  font-size: 1rem;
  color: darkblue;
}
html {
  height: 100%;
}
nav {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  padding: 1%;
}
nav a {
  width: 10%;
  text-decoration: none;
}
.intro {
  padding: 2%;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  background: lightgrey;
}
.intro img {
  width: 40%;
  border-radius: 5%;
}
.intro p {
  width: 40%;
  padding: 5% 0%;
}
.topcontent {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.topcontent section {
  width: 40%;
  padding: 2%;
}
.workhistory table {
  width: 50%;
  border-collapse: collapse;
  border: 2px solid black;
}
.workhistory table tr:nth-child(even) {
  border: 1px solid grey;
  background: grey;
}
.workhistory table tr:nth-child(even) td,
.workhistory table tr:nth-child(even) th {
  border: 1px solid black;
  text-align: left;
  padding: 0.5%;
}
