html {
  font-size: 62.5%;
}
body {
  margin: 2% 25%;
}
p {
  font-size: 1.5rem;
}
/* Variables */
/* Mixins */
/* For the purpose of this projec, let's mirror the html */
nav {
  display: flex;
  justify-content: flex-end;
  margin: 1% 0%;
}
nav a {
  width: 15%;
  font-size: 2rem;
  text-decoration: none;
}
.intro {
  display: flex;
}
.intro img {
  width: 40%;
  height: auto;
  margin: 2% 0;
}
.intro div.right {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
@media (max-width: 500px) {
  .intro div.right {
    display: flex;
    flex-flow: row wrap;
  }
  .intro div.right img {
    width: 60%;
    height: auto;
  }
}
